@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&display=swap');

* {
  font-family: nunito;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.loginForm {
  margin-left: 20%;
}

.logoLogin {
  margin-left: 20%;
}

.homeCard::-webkit-scrollbar {
  display: none;
}

.loader {
  border: 16px solid #D9D9D9;
  border-top: 16px solid #d1410a;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  animation: spin 2s linear infinite;
}